<h1>
  Log in
</h1>

<hr>

<form action="/users" method="post"/>

  <div>
    <label for="user_email">
    Email
    </label>
    
    <input type="text" value="" name="query_name" id="user_email" />
  </div>

  <div>
    <label for="user_password">Password</label>
    
    <input type="password" name="query_password" id="user_password" />
  </div>

    <div>
      <label for="user_remember_me">Remember me</label>
       <input name="query_remember_me" type="checkbox" value="1" id="user_remember_me" />
    </div>

    <button>
      Sign in
    </button>
  </div>
</form>

  <a href="/users/sign_up">Sign up</a><br />

  <a href="/users/password/new">Forgot your password?</a><br />


  </body>
</html>
