<h1>
  Sign Up
</h1>

<hr>

<form action="/sign_up" method="get"/>

  <div>
    <label for="user_email">
    Email
    </label>
    
    <input type="text" value="" name="query_email" id="user_email" />
  </div>

  <div>
    <label for="user_password">Password (6 characters minimum)</label>
    
    <input type="password" name="query_password" id="user_password" />
  </div>

  <div>
    <label for="user_password">Password confirmation</label>
    
    <input type="password" name="query_password" id="user_password" />
  </div>

    <div>
      <label for="user_private">private</label>
       <input name="query_private" type="checkbox" id="user_private" />
    </div>

    <button>
      Sign up
    </button>
  </div>
</form>


  </body>
</html>
